<!-- <div  class="container mt-5 p-3 bg-dark text-light text-center">
    <div class=" bg-secondary text-light m-auto w-50 p-2 rounded">
        <h2>Hellow</h2>
       
    </div>
    <h1>{{loginTitle}}</h1>

    <p>Lorem ipsum dolor sit,
         amet consectetur adipisicing elit.
          Temporibus, sint?
           Beatae ab animi esse id veritatis dolores fuga,
           exercitationem harum totam aperiam vel iusto velit,
            ducimus veniam possimus natus dolore?</p>
            <div class="text-warning fs-1 fw-bold">our data: {{logindata}}</div>
</div> -->
 <!-- <button class="btn btn-danger">Btn</button>
        <i class="bi bi-1-circle">3</i> -->

<div class="container mt-5 p-4 text-center text-light rounded bg bg-secondary">

<form>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 bg bg-info rounded fw-bold col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 bg bg-info rounded fw-bold col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>
  
  
  <button class="m-6 btn btn-warning fw-bold col-sm-2">Login</button>
</form>
</div>
